<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("../partials/head") %>
  <body class="container">
    <%- include("../partials/header", {pagina: "Sobre"}) %>

    <main>
      <div>
        <h1>Sobre mim</h1>
        <p>
          Sou um estudante de Front-End na Rocketseat, tenho experiência em
          HTML, CSS, JavaScript, nodeJS, e agora EJS.
        </p>
      </div>
    </main>

    <%- include("../partials/footer") %>
  </body>
</html>
